<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="assets/A-SYSTEMS%20B2B%20AND%20SERVICE.png" alt="Bild" class="img-fluid box-image" style="width: 200px; height: 64px;">
    </a>
    <div class="dropdown ms-auto" id="logout-dropdown">
      <button class="btn btn-outline-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
        Menu
      </button>
      <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton">
        <li><button class="dropdown-item" (click)="downloads()">Downloads</button></li>
        <li><button class="dropdown-item" (click)="downloads()">Spareparts</button></li>
        <li><button class="dropdown-item" (click)="logout()">Logout</button></li>
      </ul>
    </div>
  </div>
</nav>
