.box-detail {
    position: fixed;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    background: white;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
    transform: translateX(100%);
    transition: transform 0.5s ease, opacity 0.5s ease;
    z-index: 1000;
    opacity: 0;
    visibility: hidden;
  }
  
  .box-detail.show {
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
  }
  
  .box-detail.hide {
    transform: translateX(100%);
    opacity: 0;
    visibility: hidden;
  }
  
  @media (max-width: 768px) {
    .box-detail {
      width: 100%;
      height: 92%;
      top: auto;
      bottom: 0;
      transform: translateY(100%);
      transition: transform 0.5s ease, opacity 0.5s ease;
    }
  
    .box-detail.show {
      transform: translateY(0);
      opacity: 1;
      visibility: visible;
    }
  
    .box-detail.hide {
      transform: translateY(100%);
      opacity: 0;
      visibility: hidden;
    }
  }
  
  .box-detail-content {
    padding: 20px;
  }
  
  .close-button {
    position: absolute;
    top: 10px;
    left: 10px;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
  }
  