/* Styles for box-detail component */
.box-detail-container {
  position: fixed;
  top: 0;
  right: -400px; /* Startposition außerhalb des Bildschirms */
  width: 400px;
  height: 100%;
  background-color: #fff;
  box-shadow: -2px 0 10px rgba(0, 0, 0, 0.15);
  transition: right 0.3s ease, top 0.3s ease; /* Transition für den Sliden-Effekt */
  z-index: 1050;
  overflow-y: auto; /* Ermöglicht das Scrollen innerhalb der Komponente */
  display: flex;
  flex-direction: column;
}

.box-detail-container.open {
  right: 0; /* Endposition im sichtbaren Bereich */
}

.headerbox {
  position: relative;
  background-color: black;
  padding: 16px 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1060; /* Ensure header is above other content */
}

.headerbox h2 {
  margin: 0;
  font-size: 20px;
  font-weight: 600;
  color: #fff;
}

.close-btn {
  background-color: transparent;
  border: none;
  color: #fff;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
  transition: color 0.3s ease;
}

.close-btn:hover {
  color: #f8d7da;
}

.box-detail-content {
  padding: 20px;
  flex-grow: 1;
}

.box-detail-content p {
  font-size: 16px;
  color: #333;
  margin-bottom: 16px;
}

.box-detail-content img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: block;
  margin: 0 auto 16px;
}

/* Custom Fields Styles */
.custom-fields ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.custom-fields ul li {
  padding: 10px;
  border-radius: 8px;
  background-color: #e9ecef;
  margin-bottom: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Subtasks Styles */
.subtasks ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.subtasks ul li {
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 5px;
  background-color: #f1f1f1;
  transition: background-color 0.3s ease;
}

.subtasks ul li:hover {
  background-color: #e2e6ea;
  cursor: pointer;
}

.subtasks ul li.tnt {
  background-color: #E94A0A;
  color: white;
}

.subtasks ul li.fedex {
  background-color: purple;
  color: white;
}

.subtasks ul li.ups {
  background-color: brown;
  color: white;
}

.subtasks ul li.dsv {
  background-color: darkblue;
  color: white;
}

/* Styles for FedEx Tracking Status */
.fedex-status-container {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center; /* Zentriert alle Inhalte innerhalb des Containers */
}

.fedex-status-box {
  background-color: #f9f9f9;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  margin-bottom: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 100%; /* Box füllt die gesamte Breite des Containers */
  max-width: 500px; /* Optionale maximale Breite */
  display: flex;
  flex-direction: column;
  align-items: center; /* Zentriert alle Inhalte innerhalb der Box */
}

.fedex-status-box h4 {
  font-size: 16px;
  color: #4d148c;
  margin-bottom: 10px;
  border-bottom: 2px solid #4d148c;
  padding-bottom: 5px;
  width: 100%; /* Breite füllt die gesamte Box */
  text-align: center; /* Text zentrieren */
}

.fedex-status-box p,
.fedex-status-box ul {
  font-size: 14px;
  color: #333;
  width: 100%; /* Breite füllt die gesamte Box */
  text-align: center; /* Text zentrieren */
}

.fedex-status-box ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.fedex-status-box ul li {
  padding: 5px 0;
}

#fedexheader {
  color: #4d148c;
  text-align: center;
}

#fedexlinkbutton {
  background-color: #4d148c;
  color: white;
  border-radius: 8px;
  padding: 10px 20px;
  cursor: pointer;
  border: none;
  margin-top: 20px;
  text-align: center;
  text-decoration: none;
  font-weight: bold;

}

/* Media Queries for responsiveness */
@media (max-width: 768px) {
  .box-detail-container {
    top: 100%; /* Startposition außerhalb des Bildschirms */
    right: 0;
    width: 100%;
    height: 100%; /* Passt die Höhe automatisch an */
    transition: top 0.3s ease; /* Transition für den Sliden-Effekt */
  }

  .box-detail-container.open {
    top: 0; /* Endposition im sichtbaren Bereich */
  }

  .no-scroll {
    overflow: hidden; /* Verhindert das Scrollen der Hauptseite */
  }
}



