<nav class="sidebar">
  <!-- Add Button -->
  <button class="fluent-button">
    <img src="assets/add-2.svg" alt="Hinzufügen" />
    <span class="button-label">Hinzufügen</span>
  </button>

  <!-- Sidebar Navigation -->
  <div class="sidebar-nav">
    <button
      class="sidebar-link"
      [class.active]="activeButton === 'dashboard'"
      (click)="setActive('dashboard')"
    >
      <span class="sidebar-indicator"></span>
      <span class="icon">
        <img
          [src]="activeButton === 'dashboard'
            ? 'assets/dashboard_klicked.svg'
            : 'assets/dashboard_unklicked.svg'"
          alt="Dashboard Icon"
        />
      </span>
      <span class="label">Dashboard</span>
    </button>

    <button
      class="sidebar-link"
      [class.active]="activeButton === 'Support'"
      (click)="setActive('Support')"
    >
      <span class="sidebar-indicator"></span>
      <span class="icon">
        <img
          [src]="activeButton === 'Support'
            ? 'assets/headphones-2.svg'
            : 'assets/headphones.svg'"
          alt="Support Icon"
        />
      </span>
      <span class="label">Support</span>
    </button>

    <button
      class="sidebar-link"
      [class.active]="activeButton === 'kunden'"
      (click)="setActive('kunden')"
    >
      <span class="sidebar-indicator"></span>
      <span class="icon">
        <img
          [src]="activeButton === 'kunden'
            ? 'assets/customer_klicked.svg'
            : 'assets/customer_unklicked.svg'"
          alt="Kunden Icon"
        />
      </span>
      <span class="label">Kunden</span>
    </button>

    <button
      class="sidebar-link"
      [class.active]="activeButton === 'settings'"
      (click)="setActive('settings')"
    >
      <span class="sidebar-indicator"></span>
      <span class="icon">
        <img
          [src]="activeButton === 'settings'
            ? 'assets/settings_klicked.svg'
            : 'assets/settings_unklicked.svg'"
          alt="Einstellungen Icon"
        />
      </span>
      <span class="label">Einstellungen</span>
    </button>
  </div>
</nav>
