/* Allgemeine Container-Styling */
.main-container {

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px; /* Fügt mehr Abstand zwischen den Containern hinzu */
  padding: 40px; /* Erhöht den innenliegenden Abstand */
  background-color: #f8f9fa; /* Helle Hintergrundfarbe für den Container */
  border-radius: 8px; /* Abgerundete Ecken für den Container */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Leichte Schatten für Tiefenwirkung */
  margin: 20px; /* Außenabstand für mehr Platz um den Container */
  margin-top: 80px;
}

/* Einzelne Container-Styling */
.container {
  width: 100%;
  max-width: 800px; /* Begrenzte maximale Breite für bessere Lesbarkeit */
  background-color: #ffffff; /* Weiße Hintergrundfarbe für Boxen */
  padding: 20px; /* Innenabstand für Boxen */
  border-radius: 8px; /* Abgerundete Ecken für Boxen */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Schatten für Boxen */
  transition: transform 0.2s, box-shadow 0.2s; /* Übergangseffekte für Hover-Zustand */
}

.container:hover {

  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Stärkere Schatten bei Hover */
}

/* Überschriften-Styling */
.container h2 {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 1.5em;
  color: #333; /* Dunklere Farbe für die Überschriften */
  /*border-bottom: 2px solid #333; /* Linie unter der Überschrift */
  padding-bottom: 10px;
  width: 100%;
  text-align: center;
}

@media (max-width: 768px) {
  .main-container {
    padding: 20px; /* Reduziertes Padding für mobile Geräte */
    margin-top: 20px;
  }

  .container {
    padding: 15px; /* Reduziertes Padding für Boxen auf mobilen Geräten */
  }

  .container h2 {
    font-size: 1.2em; /* Kleinere Schriftgröße für Überschriften auf mobilen Geräten */
  }
}
