.box-container {
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border: none; /* Entferne den Standardrahmen */
    margin: 10px;
    padding-top: 2px;
  }
  
  .card-body {
    display: flex;
    align-items: center;
  }
  
  .card-title {
    font-size: 14px;
    font-weight: bold;
    color: #333; /* Dunkle Schriftfarbe für bessere Lesbarkeit */
    margin: 0;
    flex-grow: 1; /* Lässt das Element wachsen, um den verfügbaren Platz zu füllen */
  }
  
  .box-image {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 10px;
    margin-left: 15px;
  }
  